.header
{
  padding: 0px !important;
}
/* --------------------------Toggle Styles---------------------------------- */
 
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.fix_min_width{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}

/*------------------------------------  Sidebar Styles -----------------------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}

/*--------------------- Technical Skills Section DropDown menu-------------------------------------------------*/
#nav {
    height: 50px;
    width: 100%;
    float: laft;
    position:relative;
    background-image: url(http://webdesignsharepoint.com/wp-content/uploads/2013/01/All-bg.png);
    background-repeat: no-repeat;
    background-position: 0px -151px;
}
#nav ul {
    float: right;
    width: 960px;
    height: auto;
    margin: 16px 130px 0 0;
}
#nav ul li {
    float: right;
    height: auto;
    width: auto;
    padding: 0 25px 0 25px;
    text-align: center;
    color: #F7F7F9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    list-style-type: none;
}
#nav ul li a {
    text-decoration: none;

}
.sub-menu {
    background-color: #2C2D3E;
    width: 100px!important;
    padding:10px;
    float: left!important;
    position:absolute;
    z-index: 999999;
    text-align: center;
    background-image: none;
    margin: 13px 0 0 -20px!important;
    filter:alpha(opacity=80);
    opacity:0.8;
    font-size: 18px !important;
}

ul .sub-menu li {
    background-image: none !important;
    border-bottom: dashed 1px  #666;
    margin: 0 0 10px -11px !important;
    padding:0 0 10px 0 !important;
    width: 120px!important;
    float: left!important;
    font-size: 15px!important;

}

/* ------------------------------ for slider in project section ---------------------------------*/
.option_header{
    border-bottom: 2px solid blue;
    line-height: 30px;
    font-size: 24px;
    margin-top: 60px;
}
.options{
    line-height: 35px;
    font-size: 18px;
    padding: 2px;
}

li{
    list-style: none;
}

li.field{
    margin: 0;
    padding: 1em 0;
    border: 1px solid blue;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 17px;
    padding: 4px 13px;
}

li.title{
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    line-height: 35px;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    padding-left: 6%;
    color: #18a1d5;
}
/*-----------------------------------*/
